.top-buffer {
    margin-top: 5vh!important;
}

.top-bottom {
    margin-bottom: 5vh!important;
}

.height-full {
    height: 100%!important;
}

.row-center {
    justify-content: center;
}

.btn {
    border-radius: 10px!important;
    background-color: #597ba0!important;
    color: #ffffff!important;
}

.white-background {
    background-color: #ffffff!important;
    border-radius: 10px!important;
}

.form-control {
    width: 560px!important;
}